body {
    height: 100%;
}

#avatar-maker {
    display: flex;
    flex-flow: column;
    height: 100%;
    border-radius: 5%;
    padding: 10px;
    margin-top: 25px;
    background-color: #eafcf6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.avatar-builder-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 10px;
}

#avatar-builder-nav {
    display: flex;
    flex-flow: row wrap;
    height: 5%;
    width: 100%;
    margin-top: 10px;
}

h4 {
    font-family: 'Monaco';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #344054;
}

.nav-buttons {
    margin: 10px;
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    appearance: none;
    border: none;
    cursor: pointer;
    background-color: inherit;
    background: #c1cadc;
    border-right: 1px solid #D0D5DD;
    flex-grow: 1;
}

.create-avatar {
    display: flex;
    flex-flow: row wrap-reverse;
    align-items: center;
    overflow: auto;
    justify-content: center;
    margin-top: 20px;
    height: 100%;
}

.edit-avatar-options-container {
    display: flex;
    border-style: groove;
    border-width: 0.5px;
    border-radius: 9%;
    width: 40%;
    align-items: center;
    flex-grow: 0;
    transition: all 0.5s;
    padding: 27px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 35%;
    background-color: rgb(251, 251, 243);
}

#avatar-display-container {
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: flex-end;
    padding: 27px;
}

.avatar-display {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #CDCCFF;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#avatar-display-face {
    position: absolute;
    height: 60%;
    width: 60%;
}

#avatar-display-hair {
    position: absolute;
    height: 78.5%;
    width: 72%;
}

#avatar-display-eyes {
    position: absolute;
    width: 70%;
}

#avatar-display-smiles {
    position: absolute;
    width: 67%;
}

#avatar-display-accessory {
    position: absolute;
    width: 67%;
}

#faces {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(251, 251, 243);  
    margin: 10px;
}

#background-color {
    display: none;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(251, 251, 243);  
    margin: 10px;
}

#hair {
    display: none;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: rgb(251, 251, 243);  
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#eyes {
    display: none;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(251, 251, 243);  
    margin: 10px;
}

#smiles {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgb(251, 251, 243);  
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#accessories {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgb(251, 251, 243);  
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.color-icon {
    border-radius: 50%;
    appearance: none;
    border: none;
    cursor: pointer;
    height: 100px;
    width: 100px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.avatar-edit-icons {
    height: 100px;
    width: 100px;
}

.avatar-edit-icon-with-mannequin {
    width: 115px;
    background-size: 100px 100px;
    background-image:url("images/faces/mannequin.png");
    background-position: center;
    background-repeat: no-repeat;
}

.avatar-edit-buttons {
    appearance: none;
    border: none;
    cursor: pointer;
    background-color: rgb(251, 251, 243);  
}